In [1]:
import cx_Oracle as cx
import datetime

In [2]:
cn=cx.connect('scott/tiger@localhost:1521/orcl.168.1.9')

In [3]:
cur=cn.cursor()

In [4]:
def insert_prod_details(prod_id,prod_name,prod_desc,prod_qty,prod_pur_price,prod_sell_price,purc_dt):
    
    product_details='''insert into PRODUCTS_TABLE(prod_id,prod_name,prod_desc,prod_qty,prod_pur_price,prod_sell_price,purc_dt)
    values(:prod_id,:prod_name,:prod_desc,:prod_qty,:prod_pur_price,:prod_sell_price,:purc_dt)'''
    para=[prod_id,prod_name,prod_desc,prod_qty,prod_pur_price,prod_sell_price,purc_dt]
    cur.execute(product_details,para)
    cn.commit()
    print('Record inserted')

In [6]:
insert_prod_details(1,'Namkeen','Haldiram Aloo Bhujia',5,55,70,'23-Apr-2020')

Record inserted

In [7]:
insert_prod_details(2,'Milk','Amul Full cream milk',20,25,30,'23-Apr-2020')
insert_prod_details(3,'Bread','Multi Grain Breads ',15,30,40,'23-Apr-2020')
insert_prod_details(4,'Real Juice','Fresh Apple real juice',15,100,120,'24-Apr-2020')
insert_prod_details(5,'Butter','Amul Fresh Butter',15,70,80,'24-Apr-2020')
insert_prod_details(6,'Coffee','Nescafe coffee',15,100,130,'25-Apr-2020')
insert_prod_details(7,'Biscuit','Bakery Biscuits',25,70,85,'25-Apr-2020')

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [5]:
rec=cur.execute('select *from product_table')
for r in rec:
    print(r)

(1, 'Namkeen', 'Haldiram Aloo Bhujia', 5, 55.0, 70.0, datetime.datetime(2020, 4, 23, 0, 0))
(2, 'Milk', 'Amul Full cream milk', 20, 25.0, 30.0, datetime.datetime(2020, 4, 23, 0, 0))
(3, 'Bread', 'Multi Grain Breads ', 15, 30.0, 40.0, datetime.datetime(2020, 4, 23, 0, 0))
(4, 'Real Juice', 'Fresh Apple real juice', 15, 100.0, 120.0, datetime.datetime(2020, 4, 24, 0, 0))
(5, 'Butter', 'Amul Fresh Butter', 15, 70.0, 80.0, datetime.datetime(2020, 4, 24, 0, 0))
(6, 'Coffee', 'Nescafe coffee', 15, 100.0, 130.0, datetime.datetime(2020, 4, 25, 0, 0))
(7, 'Biscuit', 'Bakery Biscuits', 25, 70.0, 85.0, datetime.datetime(2020, 4, 25, 0, 0))

In [6]:
def insert_cust_details(cust_id,cust_name,cust_add,cust_email,cust_phn_no):
    
    customer_details='''insert into customers_table(cust_id,cust_name,cust_add,cust_email,cust_phn_no)
    values(:cust_id,:cust_name,:cust_add,:cust_email,:cust_phn_no)'''
    para=[cust_id,cust_name,cust_add,cust_email,cust_phn_no]
    cur.execute(customer_details,para)
    cn.commit()
    print('Record inserted')

In [10]:
insert_cust_details(1,'Nikhil Singh','Noida','nikhilprataps03@gmail.com',7060451500)

Record inserted

In [11]:
insert_cust_details(2,'Nishant Singh','Lucknow','nishant123@gmail.com',9080706050)
insert_cust_details(3,'Abhishek Singh','Lucknow','abhi123@gmail.com',8080807070)
insert_cust_details(4,'Aditya Singh','Noida','adi@gmail.com',8709907879)
insert_cust_details(5,'Alok Upadhyay','Noida','aloksat123@gmail.com',9718908070)
insert_cust_details(6,'Suyash Triapthi','Delhi','suyash@gmail.com',8516785858)
insert_cust_details(7,'Avinash Sharma','Noida','nikhilprataps03@gmail.com',7060451500)

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [7]:
rec_cust=cur.execute('select *from customers_table')
for p in rec_cust:
    print(p)

(1, 'Nikhil Singh', 'Noida', 'nikhilprataps03@gmail.com', 7060451500)
(2, 'Nishant Singh', 'Lucknow', 'nishant123@gmail.com', 9080706050)
(3, 'Abhishek Singh', 'Lucknow', 'abhi123@gmail.com', 8080807070)
(4, 'Aditya Singh', 'Noida', 'adi@gmail.com', 8709907879)
(5, 'Alok Upadhyay', 'Noida', 'aloksat123@gmail.com', 9718908070)
(6, 'Suyash Triapthi', 'Delhi', 'suyash@gmail.com', 8516785858)
(7, 'Avinash Sharma', 'Noida', 'nikhilprataps03@gmail.com', 7060451500)

In [8]:
import datetime

def invoice_header():
    in_id=int(input("enter the invoice Id: "))
    invc_dt=datetime.datetime.now()
    header_para1=[in_id,invc_dt]
    
    #print(header_para)
    header_ins1='''
    insert into sales_invoice_header_table(invc_id,invc_dt) values(:invc_id,:invc_dt)
    '''
    cur.execute(header_ins1,header_para1)
    total_price=invoice_details(in_id)
    req=input("Press Y/y to enter the header discount")
    if req=='y' or req=='Y':
        disc=float(input("enter the discount"))
    else:
        disc=0.0
    header_discount=total_price-disc
    header_para2=[total_price,header_discount,in_id]
    header_ins2='''
    update sales_invoice_header_table set total_price=:total_price, header_disc=:header_disc
    where invc_id=:invc_id
    '''
    cur.execute(header_ins2,header_para2)
    cn.commit()
    header_rec=cur.execute('select * from sales_invoice_header_table')
    for r in header_rec:
        print(r)
    
def invoice_details(in_id):
    #disc=5%
    invc_id=in_id
    line_no=int(input("enter the line no. "))
    prod_id=int(input("enter the product Id"))
    ans=cur.execute('select prod_sell_price from products_table where prod_id='+str(prod_id))
    price=ans.fetchone()
    #print(price)
    Qty=int(input("enter the quantity"))
    sell_price=price[0]*Qty
    #print("product selling price is:", prod_sell_price)
    #print(type(prod_sell_price))
    discount=sell_price-0.05*sell_price
    inv_para=[invc_id,line_no,prod_id,Qty,sell_price,discount]
    inv_ins='''
    insert into sales_invoice_details_table(invc_id,line_no,prod_id,Qty,sell_price,discount)
    values(:invc_id,:line_no,:prod_id,:Qty,:sell_price,:discount)
    '''
    cur.execute(inv_ins,inv_para)
    
    inv_rec=cur.execute('select * from sales_invoice_details_table order by invc_id ASC')
    print("Invoice Details table:")
    for r in inv_rec:
        print(r)
    ans1=cur.execute('select sum(discount) from sales_invoice_details_table where invc_id='+str(invc_id))
    total_price=ans1.fetchone()
    return(total_price[0])
    

    
invoice_header()

enter the invoice Id: 1
enter the line no. 2
enter the product Id1
enter the quantity5
Invoice Details table:
('1', 2, 1, 5, 332.5, 350.0)
Press Y/y to enter the header discounty
enter the discount30
('1', 332.5, 302.5, datetime.datetime(2020, 5, 5, 7, 11, 19))

#