In [1]:
import pymongo

In [5]:
myclient=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [6]:
mydb=myclient['mydb']
mycol=mydb['customer']
my_dic={'name':'Shahnawaz','Language':'Python'}
x=mycol.insert_one(my_dic)

In [9]:
print(x.inserted_id)

5e8217089d8d87d22a9c2901

In [11]:
cursor=mycol.find()
for rec in cursor:
    print(rec)

{'_id': ObjectId('5e8217089d8d87d22a9c2901'), 'name': 'Shahnawaz', 'Language': 'Python'}

In [12]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [16]:
cursor=mycol.find()
for rec in cursor:
    print(rec)

{'_id': ObjectId('5e8217089d8d87d22a9c2901'), 'name': 'Shahnawaz', 'Language': 'Python'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
cursor=mycol.find({'name':'John'})
for rec in cursor:
    print(rec)
print(result.matched_count)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

NameError: name 'result' is not defined