In [1]:
#Prac 1. Import pandas as pd
import pandas as pd

In [2]:
#Prac 2. Read salaries.csv as a dataframe called sal
sal=pd.read_excel(r'C:\Python_DS\14_827864_compressed_Salaries\Salaries.xlsx')

In [3]:
#Prace3. Check the head of the Data Frame
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
#Prac4. Use the .info() method to find out how many entries there are
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [6]:
#Prac5. What is the average BasePay ?
import numpy as np
sal1=sal.replace({'Not Provided':np.NaN})

sal1['BasePay'].mean()

66325.44884050643

In [7]:
sal1.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [8]:
#Prac6. What is the highest amount of OvertimePay in the dataset ?
sal1['OvertimePay'].max()

245131.88

In [11]:
#Prac7. What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an 
#answer that doesn't match up (there is also a lowercase Joseph Driscoll).
sal1[sal1['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [14]:
#Prac8. How much does JOSEPH DRISCOLL make (including benefits)?
sal1[sal1['Id']==25]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [18]:
#Prac9. What is the name of highest paid person (including benefits)?
sal1[sal1['TotalPayBenefits']==sal1['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [19]:
sal1.loc[sal1['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [22]:
#Prac10. What is the name of lowest paid person (including benefits)? 
#Do you notice something strange about how much he or she is paid?
sal1[sal1['TotalPayBenefits']==sal1['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [25]:
sal1[sal1['Id']==148654]['TotalPayBenefits']

148653   -618.13
Name: TotalPayBenefits, dtype: float64

In [27]:
#or
sal1.loc[sal1['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [37]:
#Prac 11. What was the average (mean) BasePay of all employees per year? (2011-2014) ?
sal1.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [39]:
#Prac12. How many unique job titles are there?
sal1['JobTitle'].nunique()

2159

In [41]:
#Prac 13. What are the top 5 most common jobs?
sal1['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [51]:
#Prac 14. How many Job Titles were represented by only one person in 2013? 
#(e.g. Job Titles with only one occurence in 2013?)
sum(sal1[sal1['Year']==2013]['JobTitle'].value_counts()==1)

202

In [52]:
#Prac 15. How many people have the word Chief in their job title? (This is pretty tricky)
def chief_title(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [53]:
chief_title('Nikhil chief')

True

In [59]:
sum(sal1['JobTitle'].apply(lambda x: chief_title(x)))

477

In [62]:
#Prac 16. Bonus: Is there a correlation between length of the Job Title string and Salary?
sal1['title_string']=sal1['JobTitle'].apply(len)

In [64]:
sal1[['title_string','TotalPayBenefits']].corr()

                  title_string  TotalPayBenefits
title_string          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000