In [1]:
#Prac 1. Import pandas as pd
import pandas as pd
import numpy as np

In [2]:
#Prac 2. Read salaries.csv as a dataframe called sal.
sal=pd.read_csv(r'C:\Python_DS\14_827864_compressed_Salaries\Salaries.csv',low_memory=False)
#Prace3. Check the head of the Data Frame
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
#Prac4. Use the .info() method to find out how many entries there are.
sal1.info()

NameError: name 'sal1' is not defined

In [4]:
sal1=sal.replace({'Not Provided':np.NaN})

In [5]:
sal1['BasePay']=sal1['BasePay'].astype(float)

In [6]:
#Prac5. What is the average BasePay ?
sal1['BasePay'].mean()

66325.44884050643

In [38]:
sal1['OvertimePay']=sal1['OvertimePay'].astype(float)

In [39]:
#Prac6. What is the highest amount of OvertimePay in the dataset ?
sal1['OvertimePay'].max()

245131.88

In [178]:
#Prac7. What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise 
#you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).
sal1[sal1['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [45]:
sal1.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [46]:
#Prac8. How much does JOSEPH DRISCOLL make (including benefits)?
sal1[sal1['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [52]:
#Prac9. What is the name of highest paid person (including benefits)?
sal1[sal1['TotalPayBenefits']==sal1['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [57]:
sal1[sal1['Id']==1]['TotalPayBenefits']

0    567595.43
Name: TotalPayBenefits, dtype: float64

In [59]:
#Prac10. What is the name of lowest paid person (including benefits)? Do you notice something 
#strange about how much he or she is paid?
sal1[sal1['TotalPayBenefits']==sal1['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [60]:
sal1[sal1['Id']==148654]['TotalPayBenefits']

148653   -618.13
Name: TotalPayBenefits, dtype: float64

In [95]:
#Prac 11. What was the average (mean) BasePay of all employees per year? (2011-2014) ?
sal1.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [100]:
#Prac12. How many unique job titles are there?
sal1['JobTitle'].nunique()

2159

In [110]:
#Prac 13. What are the top 5 most common jobs?
sal1.columns
sal1['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [126]:
#Prac 14. How many Job Titles were represented by only one person in 2013? 
#(e.g. Job Titles with only one occurence in 2013?
sum(sal1[sal1['Year']==2013]['JobTitle'].value_counts()==1)

202

In [8]:
#Prac 15. How many people have the word Chief in their job title? (This is pretty tricky)
sum(sal1['JobTitle'].str.contains('Chief'))

423

In [170]:
#Prac 16. Bonus: Is there a correlation between length of the Job Title string and Salary?
sal1['title_str']=sal1['JobTitle'].apply(len)

In [175]:
sal1[['title_str','TotalPayBenefits']].corr()

                  title_str  TotalPayBenefits
title_str          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000